<app-nav-bar></app-nav-bar>

<div class="container">
  <h1>Password Generator</h1>

  <div class="inputs-container">
    <label>Enter length :</label>
    <input (input)="onChangeLength($event)" />
  </div>
  <div>
    <label>Use Letter: </label>
    <input (change)="onChangeUseLetters()" type="checkbox" />
  </div>
  <div>
    <label>Use Numbers: </label>
    <input (change)="onChangeUseNumbers()" type="checkbox" />
  </div>
  <div>
    <label>Use Symbols: </label>
    <input (change)="onChangeUseSymbols()" type="checkbox" />
  </div>
  <div>
    <button
      [disabled]="
        !(length && (includeLetters || includeNumbers || includeSymbols))
      "
      (click)="onButtonClick()"
    >
      Generate
    </button>
  </div>

  <div class="result-container" *ngIf="password">
    <label>Your password: </label>
    <input [value]="password" />
    <button routerLink="../form" class="feedback-btn">Leave a feedback</button>
  </div>
</div>
